# Ignore files in the Unix distribution
*.o
*.out
*.a
*.swp
bin/siteresponse
lib/*
bin/*

# Ignore files in the Windows distribution
VS/.vs
*.exe
*.ilk
*.pdb
*.user
*.tlog
*.obj
*.idb
SiteResponse.log
